# Development Related
**/__pycache__/
**/.Python/
**/build/
**/dist/
*.egg-info/
**/.coverage/
**/.ipynb_checkpoints*/
**/attic/
**/examples/
**/coverage/
**/.pytest*
**/.mypy*
**/.clang*
Dockerfile
.dockerignore


# Git Files
**/.git*

# Swap files
*.swp
*.swo

# C extensions
*.so

# OS Files
*.DS_Store

# Licensing
oe_license.txt

# Files from tests
*.svg
*.pkl
*.png
