# Development Related
**/__pycache__/
**/.Python/
**/build/
**/dist/
**/*.egg-info/
**/.coverage/
**/coverage/
**/.ipynb_checkpoints*/
**/examples/
**/tests/
**/.pytest*
**/.mypy*
**/.clang*
**/.hypothesis/
Dockerfile
.dockerignore
.gitlab-ci.yml

# Git Files
**/.git*

# Swap files
*.swp
*.swo

# C extensions
*.so

# OS Files
*.DS_Store

# Licensing
oe_license.txt

# Files from tests
*.svg
*.png

# nsys files
**/*.nsys-rep
**/*.sqlite
