.idea
*.pkl
__pycache__/
timemachine/cpp/build/
*.so
*.DS_Store
oe_license.txt
*.swp
.ipynb_checkpoints/
.cache/
build/
*.egg-info/
.coverage*
.hypothesis/

# Nsys profiling files
*.sqlite
*.nsys-rep

.direnv/
