repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace

-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)

-   repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
    -   id: black

-   repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
    -   id: flake8
        exclude: '^timemachine/cpp'

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
    -   id: mypy
        # include dependencies that export types (i.e. have a py.typed file in the root module) so that they can be used
        # by mypy in pre-commit
        additional_dependencies:
          - "jax==0.4.14"
          - "numpy==1.23.5"
          - "scipy==1.10.1"
          - "matplotlib==3.7.1"

        # Exclude custom_ops.py to work around clash with stub file when typechecking
        exclude: '^timemachine/lib/custom_ops.py$'

-   repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.6
    hooks:
    -   id: clang-format
        types_or: [c, c++, cuda]
        files: '^timemachine/cpp/src/'

-   repo: local
    hooks:
    -   id: verify-typing-stubs
        name: Verify typing stubs

        # NOTE: Building generates new typing stubs, so this hook will
        # fail if stub file committed to the repo is out of date.
        # (pre-commit hooks fail if files are modified)
        entry: make build

        language: system
        pass_filenames: false
        files: '^timemachine/cpp/src/wrap_kernels.cpp$'

exclude: >
  (?x)
    \.pdb$
  | \.sdf$
  | \.proto$
  | \.xml$
  | /vendored/
  | ^attic/
  | ^timemachine/ff/params/
  | ^timemachine/_vendored/
  | ^versioneer\.py$
  | ^timemachine/_version\.py$
  | ^timemachine/lib/custom_ops.pyi$
